{% extends 'main/sidenav.html' %}
{% load crispy_forms_tags %}
{% block content1 %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
.sidenav {
height: 100%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: white;
overflow-x: hidden;
padding-top: 80px;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 16px;
color: #818181;
display: block;
}


.main {
margin-left: 160px; / Same as the width of the sidenav /
font-size: 16px; / Increased text to enable scrolling /
padding: 0px 0px;
}
a:hover {
background-color: #f2f2f2;
}
.search-container button:hover {
background: #ccc;
}
.search-container button {
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 14px;
border: none;
cursor: pointer;
}
.dot {
height: 12px;
width: 10px;
background-color: purple;
border-radius: 50%;
display: inline-block;
}
.dot1 {
height: 12px;
width: 10px;
background-color: orange;
border-radius: 50%;
display: inline-block;
}

</style>
</head>
<div class="sidenav" style="margin-left:20px;">
<button type="button" class="btn btn-info btn-lg" style="height:40px;width:150px;margin-left:20px;">Send</button><br><br>
<a href="#" style="color:black;text-decoration:none;"><img src="https://img.icons8.com/material-outlined/20/000000/reply-all.png">&nbsp;&nbsp;All</a><hr>
<a href="#" style="color:black;text-decoration:none;"><img src="https://img.icons8.com/ios/20/000000/star.png">&nbsp;&nbsp;&nbsp;Starred</a>
<a href="#" style="color:black;text-decoration:none;"><img src="https://img.icons8.com/windows/20/000000/warning-shield.png">&nbsp;&nbsp;&nbsp; Important</a>
<a href="#" style="color:black;text-decoration:none;"><img src="https://img.icons8.com/android/20/000000/checkmark.png">&nbsp;&nbsp;&nbsp; Done</a>
<a href="#" style="color:black;text-decoration:none;"><img src="https://img.icons8.com/windows/20/000000/trash.png">&nbsp;&nbsp;&nbsp; Trashed</a>
<hr>
<a style="color:black;text-decoration:none;">&nbsp;&nbsp;&nbsp; Labels</a>
<ul>
<li style="color:green;font-size:27px;"><a href="#" style="color:black;text-decoration:none;">Personal</a>
</li>
<li style="color:purple;font-size:27px;"><a href="#" style="color:black;text-decoration:none;">Company</a>
</li>
<li style="color:orange;font-size:27px;"><a href="#" style="color:black;text-decoration:none;">Important</a>
</li>
<li style="color:red;font-size:27px;"><a href="#" style="color:black;text-decoration:none;">Private</a>
</li>
</ul>
</div>
<div class="main" style="margin-top: 75px; margin-right: 0px; padding-left:61px;">
<div class="search-container">
<form action="/action_page.php">
<input type="text" placeholder="Search Mail.." name="search" style="height:30px;width:95%;font-size:15px;border-radius:5px;">
<button type="submit"><i class="fa fa-search"></i></button><hr>
<p style="font-size:15px;"><input type="checkbox" value="" id="checkall">&nbsp;Select All</p><hr>
<span style="font-size:15px;"><input type="checkbox" value="" class="check">&nbsp;Fix Responsiveness</span>&nbsp;&nbsp;
<p class="dot"><a href="#" style="color:black;text-decoration:none;font-size:14px;margin-left:15px;">Frontend</a></p><img src="https://img.icons8.com/windows/20/000000/trash.png" style="float:right;"><img src="https://img.icons8.com/ios/20/000000/star.png" style="float:right;"><img src="https://img.icons8.com/windows/20/000000/warning-shield.png" style="float:right;"><br><br>
<p style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;Jelly topping bear claw. Sesame snaps lollipop macaroon croissant cheesecake pastry cupcake.</p><hr>
<span style="font-size:15px;"><input type="checkbox" class="check" value="">&nbsp;Meet Jane</span>&nbsp;&nbsp;
<p class="dot1"><a href="#" style="color:black;text-decoration:none;font-size:14px;margin-left:15px;">Backend</a></p><img src="https://img.icons8.com/windows/20/000000/trash.png" style="float:right;"><img src="https://img.icons8.com/ios/20/000000/star.png" style="float:right;"><img src="https://img.icons8.com/windows/20/000000/warning-shield.png" style="float:right;"><br><br>
<p style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;Toffee sugar plum oat cake tiramisu tart bonbon gingerbread cheesecake cake.</p><hr>
<p style="font-size:15px;"><input type="checkbox" class="check" value="">&nbsp;Pick up Natasha</p><img src="https://img.icons8.com/windows/20/000000/trash.png" style="float:right;"><img src="https://img.icons8.com/ios/20/000000/star.png" style="float:right;"><img src="https://img.icons8.com/windows/20/000000/warning-shield.png" style="float:right;">
<p style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;Sweet roll toffee dragee cotton candy jelly beans halvah cream bear claw sugar plum powder.</p><hr>
<p style="font-size:15px;"><input type="checkbox" class="check" value="">&nbsp;Skype Tommy</p><img src="https://img.icons8.com/windows/20/000000/trash.png" style="float:right;"><img src="https://img.icons8.com/ios/20/000000/star.png" style="float:right;"><img src="https://img.icons8.com/windows/20/000000/warning-shield.png" style="float:right;">
<p style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;Tart oat sweet cake snaps lollipop croissant cake biscuit.</p><hr>
<p style="font-size:15px;"><input type="checkbox" class="check" value="">&nbsp;Send PPT</p><img src="https://img.icons8.com/windows/20/000000/trash.png" style="float:right;"><img src="https://img.icons8.com/ios/20/000000/star.png" style="float:right;"><img src="https://img.icons8.com/windows/20/000000/warning-shield.png" style="float:right;">
<p style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;Dragee gummi bears brownie cookie. Jelly beans pudding waffer gummi bears biscuit.</p><hr>
<p style="font-size:15px;"><input type="checkbox" class="check" value="">&nbsp;Submit Report</p><img src="https://img.icons8.com/windows/20/000000/trash.png" style="float:right;"><img src="https://img.icons8.com/ios/20/000000/star.png" style="float:right;"><img src="https://img.icons8.com/windows/20/000000/warning-shield.png" style="float:right;">
<p style="font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;Donut tart toffee cake cookie gingerbread. Seasms snaps claw sugar cheesecake cake.</p><hr>
</form>

</div>
</div>
<script type='text/javascript'>
$(document).ready(function(){
// Check or Uncheck All checkboxes
$("#checkall").change(function(){
var checked = $(this).is(':checked');
if(checked){
$(".check").each(function(){
$(this).prop("checked",true);
});
}else{
$(".check").each(function(){
$(this).prop("checked",false);
});
}
});
$(".check").click(function(){

if($(".check").length == $(".check:checked").length) {
$("#checkall").prop("checked", true);
} else {
$("#checkall").removeAttr("checked");
}

});
});
</script>

{% endblock %}